In [1]:
import pandas as pd
import numpy as np
import operator
import math

In [22]:
data=pd.read_csv(r'D:\jupyter\dataset\Iris.csv')
data.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [3]:
def ed(data1, data2, length):
    
    distance = 0
    for x in range(length):
        distance += np.square(data1[x] - data2[x])
    return np.sqrt(distance)

In [58]:
#test=pd.DataFrame([[4.8,3,1.4,0.1]])
#test.shape
#data.shape
#for x in range(150):
#    print(ed(data.iloc[x],test,4))

0    4.994997
Name: 0, dtype: float64
0    3.962323
Name: 0, dtype: float64
0    3.287856
Name: 0, dtype: float64
0    2.837252
Name: 0, dtype: float64
0    3.251154
Name: 0, dtype: float64
0    4.00125
Name: 0, dtype: float64
0    3.618011
Name: 0, dtype: float64
0    4.494441
Name: 0, dtype: float64
0    4.851804
Name: 0, dtype: float64
0    5.958188
Name: 0, dtype: float64
0    7.172866
Name: 0, dtype: float64
0    7.831347
Name: 0, dtype: float64
0    8.644652
Name: 0, dtype: float64
0    9.481034
Name: 0, dtype: float64
0    10.947602
Name: 0, dtype: float64
0    11.987076
Name: 0, dtype: float64
0    12.739309
Name: 0, dtype: float64
0    13.592277
Name: 0, dtype: float64
0    14.739403
Name: 0, dtype: float64
0    15.593909
Name: 0, dtype: float64
0    16.575886
Name: 0, dtype: float64
0    17.535678
Name: 0, dtype: float64
0    18.424169
Name: 0, dtype: float64
0    19.473572
Name: 0, dtype: float64
0    20.457761
Name: 0, dtype: float64
0    21.406775
Name: 0, dtype: float64
0    22.429668
Name: 0, dtype: float64
0    23.44035
Name: 0, dtype: float64
0    24.416593
Name: 0, dtype: float64
0    25.365725
Name: 0, dtype: float64
0    26.359439
Name: 0, dtype: float64
0    27.414595
Name: 0, dtype: float64
0    28.448726
Name: 0, dtype: float64
0    29.468967
Name: 0, dtype: float64
0    30.339743
Name: 0, dtype: float64
0    31.335124
Name: 0, dtype: float64
0    32.387343
Name: 0, dtype: float64
0    33.327166
Name: 0, dtype: float64
0    34.287024
Name: 0, dtype: float64
0    35.346994
Name: 0, dtype: float64
0    36.335795
Name: 0, dtype: float64
0    37.260435
Name: 0, dtype: float64
0    38.286812
Name: 0, dtype: float64
0    39.335734
Name: 0, dtype: float64
0    40.366446
Name: 0, dtype: float64
0    41.290798
Name: 0, dtype: float64
0    42.346901
Name: 0, dtype: float64
0    43.286603
Name: 0, dtype: float64
0    44.341628
Name: 0, dtype: float64
0    45.302759
Name: 0, dtype: float64
0    46.63518
Name: 0, dtype: float64
0    47.560488
Name: 0, dtype: float64
0    48.624891
Name: 0, dtype: float64
0    49.425803
Name: 0, dtype: float64
0    50.542062
Name: 0, dtype: float64
0    51.478636
Name: 0, dtype: float64
0    52.540461
Name: 0, dtype: float64
0    53.339385
Name: 0, dtype: float64
0    54.526141
Name: 0, dtype: float64
0    55.38962
Name: 0, dtype: float64
0    56.341459
Name: 0, dtype: float64
0    57.442319
Name: 0, dtype: float64
0    58.413098
Name: 0, dtype: float64
0    59.478231
Name: 0, dtype: float64
0    60.37632
Name: 0, dtype: float64
0    61.485852
Name: 0, dtype: float64
0    62.430121
Name: 0, dtype: float64
0    63.401656
Name: 0, dtype: float64
0    64.435084
Name: 0, dtype: float64
0    65.37163
Name: 0, dtype: float64
0    66.454345
Name: 0, dtype: float64
0    67.398961
Name: 0, dtype: float64
0    68.45714
Name: 0, dtype: float64
0    69.436086
Name: 0, dtype: float64
0    70.423647
Name: 0, dtype: float64
0    71.438435
Name: 0, dtype: float64
0    72.466061
Name: 0, dtype: float64
0    73.474485
Name: 0, dtype: float64
0    74.405981
Name: 0, dtype: float64
0    75.334786
Name: 0, dtype: float64
0    76.337278
Name: 0, dtype: float64
0    77.330783
Name: 0, dtype: float64
0    78.353111
Name: 0, dtype: float64
0    79.424996
Name: 0, dtype: float64
0    80.372383
Name: 0, dtype: float64
0    81.399017
Name: 0, dtype: float64
0    82.429242
Name: 0, dtype: float64
0    83.381233
Name: 0, dtype: float64
0    84.350222
Name: 0, dtype: float64
0    85.332936
Name: 0, dtype: float64
0    86.351723
Name: 0, dtype: float64
0    87.385697
Name: 0, dtype: float64
0    88.338723
Name: 0, dtype: float64
0    89.284321
Name: 0, dtype: float64
0    90.339914
Name: 0, dtype: float64
0    91.346045
Name: 0, dtype: float64
0    92.342785
Name: 0, dtype: float64
0    93.361502
Name: 0, dtype: float64
0    94.27444
Name: 0, dtype: float64
0    95.332523
Name: 0, dtype: float64
0    96.455948
Name: 0, dtype: float64
0    97.377461
Name: 0, dtype: float64
0    98.469538
Name: 0, dtype: float64
0    99.418459
Name: 0, dtype: float64
0    100.435751
Name: 0, dtype: float64
0    101.525416
Name: 0, dtype: float64
0    102.318229
Name: 0, dtype: float64
0    103.486328
Name: 0, dtype: float64
0    104.427152
Name: 0, dtype: float64
0    105.477581
Name: 0, dtype: float64
0    106.39046
Name: 0, dtype: float64
0    107.387755
Name: 0, dtype: float64
0    108.413099
Name: 0, dtype: float64
0    109.348754
Name: 0, dtype: float64
0    110.357782
Name: 0, dtype: float64
0    111.387971
Name: 0, dtype: float64
0    112.395774
Name: 0, dtype: float64
0    113.514977
Name: 0, dtype: float64
0    114.505065
Name: 0, dtype: float64
0    115.345958
Name: 0, dtype: float64
0    116.414131
Name: 0, dtype: float64
0    117.335417
Name: 0, dtype: float64
0    118.485653
Name: 0, dtype: float64
0    119.349319
Name: 0, dtype: float64
0    120.402243
Name: 0, dtype: float64
0    121.429527
Name: 0, dtype: float64
0    122.340222
Name: 0, dtype: float64
0    123.342815
Name: 0, dtype: float64
0    124.376083
Name: 0, dtype: float64
0    125.410247
Name: 0, dtype: float64
0    126.426896
Name: 0, dtype: float64
0    127.472742
Name: 0, dtype: float64
0    128.370596
Name: 0, dtype: float64
0    129.346395
Name: 0, dtype: float64
0    130.358506
Name: 0, dtype: float64
0    131.430932
Name: 0, dtype: float64
0    132.370616
Name: 0, dtype: float64
0    133.363601
Name: 0, dtype: float64
0    134.325314
Name: 0, dtype: float64
0    135.370713
Name: 0, dtype: float64
0    136.371808
Name: 0, dtype: float64
0    137.35698
Name: 0, dtype: float64
0    138.324871
Name: 0, dtype: float64
0    139.384217
Name: 0, dtype: float64
0    140.373431
Name: 0, dtype: float64
0    141.349567
Name: 0, dtype: float64
0    142.326912
Name: 0, dtype: float64
0    143.342457
Name: 0, dtype: float64
0    144.346701
Name: 0, dtype: float64
0    145.323811
Name: 0, dtype: float64

In [56]:
# Defining our KNN model
def knn(trainset, testset, k):
    distances = {}
    sort = {}
    
    length = testset.shape[1]
    print(testset)
    print(length)
    for x in range(len(trainset)):
        dist = ed(testset,trainset.iloc[x], length)
        #print(dist)
        distances[x] = dist[0]
       
    #print(distances)
    sorted_d = sorted(distances.items(), 
                      key=operator.itemgetter(1))
    #print(sorted_d)
    neighbors = [] 
    
    # Extracting top k neighbors
    for x in range(k):
        neighbors.append(sorted_d[x][0])
        #print(neighbors)
        #[[1,2,3,4,5],[3,4,5,6,7]]
    #### End of STEP 3.3
    classVotes = {}
    # Calculating the most freq class in the neighbors
    for x in range(len(neighbors)):
        responses = trainset.iloc[neighbors[x]]
        response = trainset.iloc[neighbors[x]][-1]
        #print(responses)
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1
        print(classVotes)
    sortedVotes = sorted(classVotes.items(),
    key=operator.itemgetter(1), reverse=True)
    print(sortedVotes)
    return(sortedVotes[0][0])

In [57]:
test=pd.DataFrame([[4.8,3,1.4,0.1]])
k = 5
result = knn(data, test, k)
print(result)

     0  1    2    3
0  4.8  3  1.4  0.1
4
{'Iris-setosa': 1}
{'Iris-setosa': 2}
{'Iris-setosa': 3}
{'Iris-setosa': 4}
{'Iris-setosa': 5}
[('Iris-setosa', 5)]
Iris-setosa

In [55]:
k={'n':1,'n':5}
o=sorted(k.items(),key=operator.itemgetter(1))
o

[('n', 5)]